<a href="https://colab.research.google.com/github/comcomet/amapola/blob/master/%EC%8B%A0%EC%9A%A9%EC%8A%B9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#리스트

##리스트란
리스트는 여러값을 담을수 있는 변수입니다.

###1. 리스트 만들기
방법은 2가지

####방법 1

In [0]:
#list1 이라는 빈 리스트를 만들어 보겠습니다
list1 = []

In [2]:
print(list1)

[]

In [0]:
#'철수'와 True를  넣어서...
list2 =['철수',True]

In [5]:
print(list2)

['철수', True]

####방법2

In [8]:
list3 = list()
list3.append('3')
print(list3)

['3']

In [0]:
list4 = list([1,'철수', True])

In [11]:
print(list4)

[1, '철수', True]